.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 550;
  color: #fff;
  &:hover {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color: #333;
  }
}
.primary {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.bordered {
  border: 2px solid #be0b56;
}
.rounded {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border-radius: 12px;
}
.small {
  padding: 10px 12px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.medium {
  padding: 12px 14px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.large {
  padding: 14px 16px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.spinner {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgba(225, 225, 225, 0.6);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.textHiden {
  visibility: hidden;
}
